body {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    background-color: #9A2FBE;
}
.scrolling-headline {
    position: fixed;
    width: 100%; /* Take up full width of the viewport */
    overflow: hidden; /* Hide anything that moves out of bounds */
    background: linear-gradient(to right, #a5e5fc, rgb(161, 161, 252));  /* Bright background for visibility */
    padding: 10px 0;
    text-align: center;
    top: 0;
    height: 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;
    text-decoration: none;
  }
  
/* Scrolling text animation */
.scrolling-headline p {
    display: inline-block;
    white-space: nowrap;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    animation: scroll-horizontal 15s linear infinite; /* Scrolling animation */
}
  
/* Animation keyframes */
@keyframes scroll-horizontal {
    0% {
      transform: translateX(100%); /* Start outside the right of the screen */
    }
    100% {
      transform: translateX(-100%); /* Move outside the left of the screen */
    }
}
header {
    /* position: fixed; */
    z-index: 100;
    top: 30px;
    left: 0;
    right: 0;
    padding: .5rem 9rem;
    position: sticky;
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img {
    /* width: 100%;
    height: 100%; */
    width: 6.3vw;
    height: 6.3vw;
    cursor: pointer;
}
header .nav-bar {
    display: none;
}
header .nav-list ul {
    display: flex;
    /* flex-direction: row; */
    font-size: 2.1466vw;
    font-weight: 400;
    line-height: normal;
    /* letter-spacing: -.0215rem; */
    align-items: center;
    gap: 1rem;
}
header .nav-list ul li {
    padding: 15px 2rem;
    list-style: none;
    color: white;
    text-decoration: none;
    justify-content: center;
}
header .nav-list ul li .team-link {
    color: #B7FCB1;
}
header .nav-list ul li a {
    text-decoration: none;
    color: white;
    transition: .35s ease;
}
header .nav-list ul li a:hover {
    color: #B7FCB1;
}
header .nav-list ul .buy-button {
    border-radius: 15px;
    /* height: 70px; */
    color: black;
    background: #B7FCB1;
    /* stroke: 1px solid #9A2FBE; */
    box-shadow: 4px 4px #ffffff;
    display: flex;
    height: 3.9341rem;
    padding: 0rem 1.6392rem;
    justify-content: center;
    align-items: center;
    border: .082rem solid #9A2FBE;
    /* box-shadow: .3278rem .3278rem #000; */ 
    transition: .35s ease;
    background-size: cover;
    text-decoration: none;
}
header .nav-list ul .buy-button:hover {
    box-shadow: none;
    background-color: #65fc57;
    transform: translate(2px, 2px);
}
main {
    padding: 4rem 9rem;
}
main .team {
    position: relative;
}
main .team .team-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main .team .team-header h1 {
    font-size: 5vw;
    font-weight: 100;
    text-shadow: 0.3rem 0.3rem #000000;
    color: white;
    margin: 0;
}
main .team .team-header p {
    width: 100%;
    font-size: 1.25vw;
    padding-top: 2%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
main .team .team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2%;
    margin-top: 10%;
}
main .team .team-members .member {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    box-shadow: 4px 4px #000000;
    transition: 0.35s ease;
    border: .082rem solid #000000;
}
main .team .team-members .member:hover {  
    transform: rotate(10%);
    transform: translate(2px, 2px);
    box-shadow: none;
}
main .team .team-members .member .info-popup {
    position: absolute;
    padding: 0vw 1vw;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0%;
    gap: 1vw;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    z-index: 100;
    transition: 0.5s ease;
}
main .team .team-members .member:hover .info-popup {
    height: 80%;
}
main .team .team-members .member .info-popup h3{
    font-size: 3vw;
    font-weight: 100;
    letter-spacing: 0.1vw;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: 5rem;
}
main .team .team-members .member .info-popup p {
    font-size: 1.25vw;
    padding-top: 2%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
main .team .team-members .member .info-popup .socials {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1vw;
    padding-top: 5%;
}
main .team .team-members .member .info-popup .socials a {
    border-radius: 100%;
    background: #B7FCB1;
    box-shadow: 4px 4px #ffffff;
    display: flex;
    height: 1.5vw;
    width: 1.5vw;
    padding: 1.6392rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375remrem;
    border: .082rem solid #000000; 
    transition: .35s ease;
    background-size: cover;
}
main .team .team-members .member .info-popup .socials a:hover {
    box-shadow: none;
    background-color: #65fc57;
    transform: translate(2px, 2px);
}
main .team .team-members .member .cholian {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.5s ease;
}
main .team .team-members .member:hover .cholian {
    scale: 1.15;
}
main .team .team-members .member .cholian img {
    width: 100%;
    height: 100%;
}
main .faq {
    display: flex;
    justify-content: center;
    padding-bottom: 5vw;
    width: 100%;
    margin: auto;
}
main .faq .faq-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 5vw;
    width: 80%;
    padding: 0rem 9rem;
}
main .faq .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3vw;
    padding-top: 0rem;
}
main .faq .socials a {
    border-radius: 100%;
    background: #B7FCB1;
    box-shadow: 4px 4px #ffffff;
    display: flex;
    height: 3vw;
    width: 3vw;
    padding: 3.6392rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375remrem;
    border: .082rem solid #9A2FBE; 
    transition: .35s ease;
    background-size: cover;
}
main .faq .socials a:hover {
    box-shadow: none;
    background-color: #65fc57;
    transform: translate(2px, 2px);
}
main .faq .copyright {
    font-size: 2vw;
    font-weight: 100;
    letter-spacing: 0.1vw;
    color: white;
}
@media (max-width: 576px) {
    body {
        background-color: #9A2FBE;
    }
    .scrolling-headline {
        gap: 10rem;
    }
    .scrolling-headline p {
        font-size: 0.7rem;
    }
    header {
        z-index: 2000;
        padding: 2rem 0rem 0rem 2rem;
        /* background-color: #9a2fbe63; */
        backdrop-filter: blur(6px);
        top: 20px;
        display: flex;
        flex-direction: row;
    }
    header .logo {
        z-index: 200;
    }
    header .logo img {
        width: 40%;
        height: auto;
    }
    header .nav-bar {
        border-radius: 100%;
        height: 60px;
        width: 60px;
        position: absolute;
        right: 2rem;
        top: 32%;
        overflow: hidden;
        border: 1px solid #9A2FBE;
        box-shadow: 3px 3px white;
        transition: .35s ease;
        cursor: pointer;
        z-index: 200;
        visibility: visible;
    }
    header .nav-bar:hover {
        box-shadow: none;
        transform: translate(2px, 2px);
    }
    header .nav-bar:hover .hamburger {
        background-color: #65fc57;
    }
    header .nav-bar .hamburger {  
        display: flex;
        flex-direction: column;
        background-color: #B7FCB1;
        width: 100%;
        height: 100%;
        gap: 5px;
        align-items: center;
        justify-content: center;
        overflow: visible;
        transition: .35s ease;
    }
    header .nav-bar .hamburger div {
        height: 2px;
        width: 40px;
        background-color: #9A2FBE;
        overflow: visible;
    }
    header .close-bar {
        border-radius: 100%;
        height: 60px;
        width: 60px;
        position: absolute;
        right: 2rem;
        top: 32%;
        overflow: hidden;
        border: 1px solid #9A2FBE;
        box-shadow: 3px 3px white;
        transition: .35s ease;
        cursor: pointer;
        visibility: hidden;
        z-index: 200;
    }
    header .close-bar:hover {
        box-shadow: none;
        background-color: red;
        transform: translate(2px, 2px);
    }
    header .close-bar:hover .close-icon {
        background-color: #65fc57;
    }
    header .close-bar .close-icon {  
        display: flex;
        flex-direction: column;
        background-color: #B7FCB1;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        overflow: visible;
        transition: .35s ease;
    }
    header .close-bar .close-icon div {
        height: 2px;
        width: 40px;
        background-color: #9A2FBE;
        overflow: visible;
    }
    header .close-bar .close-icon div:first-of-type {
        transform: rotate(45deg);
    }
    header .close-bar .close-icon div:nth-of-type(2) {
        transform: rotate(-45deg);
    }
    header .nav-list {
        position: absolute;
        height: 70vh;
        width: 100%;
        top: -150vw;
        left: 0;
        z-index: 100;
        /* background-color: red; */
        background-color: #9A2FBE;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        box-shadow: 0px 4px 50px #00000087;
    }
    header .nav-list ul {
        position: relative;
        top: 30%;
        font-size: 1.25rem;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header .nav-list ul li a{
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }
    header .nav-list ul .buy-button {
        border-radius: 10px;
        height: 50px;
        font-size: 20px;
        position: relative;
        width: 60vw;
    }
    main {
        padding: 4rem 2rem;
    }
    main .team .team-header h1 {
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 0.15rem 0.15rem #000000;
    }
    main .team .team-header p {
        font-size: 0.9rem;
    }
    main .team .team-members {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
        margin-top: 15%;
    }
    main .team .team-members .member {
        width: 100%;
        height: 110%;
        box-sizing: initial;
    }
    main .team .team-members .member img {
        background-size: cover;
        height: auto;
        width: auto;
        scale: 1.1;
    }
    main .team .team-members .member .info-popup {
        padding: 0 20px;
    }
    main .team .team-members .member .info-popup h3{
        font-size: 2.5rem;
    }
    main .team .team-members .member .info-popup p {
        font-size: 1.2rem;
        padding-top: 3%;
    }
    main .team .team-members .member .info-popup .socials {
        gap: 3%;
        padding-top: 5%;
        margin-bottom: 7rem;
    }
    main .team .team-members .member .info-popup .socials a {
        padding: 2rem;
    }
    main .faq {
        margin-top: 40%;
        position: relative;
    }
    main .faq .socials a {
        padding: 3rem;
    }
    main .faq .copyright {
        font-size: 4vw;
    }
}