body {
    /* background-image: url("src\assets\star background.svg"); */
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    /* scroll-behavior: auto !important;
    overscroll-behavior-x: none;
    -webkit-text-size-adjust: none; */
}
header {
    /* position: fixed; */
    z-index: 100;
    top: 0rem;
    left: 0;
    right: 0;
    padding: .5rem 9rem;
    position: sticky;
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img {
    /* width: 100%;
    height: 100%; */
    width: 6.3vw;
    height: 6.3vw;
    cursor: pointer;
}
header .nav-list ul {
    mix-blend-mode: color-dodge;
    display: flex;
    /* flex-direction: row; */
    font-size: 2.1466vw;
    font-weight: 400;
    line-height: normal;
    /* letter-spacing: -.0215rem; */
    align-items: center;
    gap: 1rem;
}
header .nav-list ul li {
    padding: 15px 2rem;
    list-style: none;
    color: white;
    text-decoration: none;
    justify-content: center;
}
header .nav-list ul li a {
    text-decoration: none;
    color: white;
    transition: .35s ease;
    mix-blend-mode: difference;
}
header .nav-list ul li a:hover {
    color: #B7FCB1;
}
header .nav-list ul .buy-button {
    border-radius: 15px;
    /* height: 70px; */
    color: black;
    background: #B7FCB1;
    /* stroke: 1px solid #9A2FBE; */
    box-shadow: 4px 4px #9A2FBE;
    display: flex;
    height: 3.9341rem;
    padding: 0rem 1.6392rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375remrem;
    border: .082rem solid #9A2FBE;
    /* box-shadow: .3278rem .3278rem #000; */ 
    transition: .35s ease;
    mix-blend-mode: color-dodge;
    background-size: cover;
    text-decoration: none;
}
header .nav-list ul .buy-button:hover {
    box-shadow: none;
    background-color: #65fc57;
    transform: translate(2px, 2px);
}
main {
    display: flex;
    flex-direction: column;
    /* unicode-bidi: isolate; */
    position: relative;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 0;
    gap: 0;
}
main .hero-section {
    position: relative;
    height: 100vh;
    padding: 1rem 9rem;
}
main .hero-section .hero-background {
    translate: none;
    rotate: none;
    scale: none;
    opacity: 100;
    transform: translate(0px, 0px);
    position: absolute;
    top: -30%;
    right: 0;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    height: 150%;
}
main .hero-section .ellipse {
    transform: translate(-10%, 0px);
    width: 50vw;
    position: absolute;
    left: 0;
    top: -12rem;
    pointer-events: none;
}
main .hero-section .hero-alien {
    position: absolute;
    right: -2rem;
    bottom: 0;
    width: 50vw;
    /* animation: floatUpDown 3s ease-in-out infinite; */
}

/* Define the floating animation */

@keyframes floatUpDown {
    0% {
        /* transform: translateY(-1rem);  */
        top: -10rem;
    }
    50% {
        /* transform: translateY(-10rem);  */
        top: -9rem;
    }
    100% { 
        /* transform: translateY(-1rem); */
        top: -10rem;
    }
}
main .hero-section .alien-spaceship {
    position: absolute;
    left: 7rem;
    top: 10%;
    width: 25vw;
    animation: floatUpDown 3s ease-in-out infinite;
}
main .hero-section .hero-content {
    position: absolute;
    left: 9rem;
    transform: translateY(100%);
    justify-content: space-between;
    display: flex;
    gap: 20vw;
    width: 100%;
    /* display: flex;
    justify-content: flex-end;
    flex-direction: column; */
}
main .hero-section .hero-content h1 {
    font-size: 1.25vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    width: auto;
}
main .hero-section .hero-content h1 span:first-of-type {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    color: #9A2FBE;
    font-size: 2vw;
}
main .hero-section .hero-content h1 span:nth-of-type(2) {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    color: #B7FCB1;
    font-size: 2vw;
}
main .hero-section .hero-content h6 {
    font-size: 12.5vw;
    color: #B7FCB1;
    text-shadow: 0.5rem 0.5rem #9A2FBE;
    position: absolute;
    left: 0;
    top: -26vw;
}
main .hero-section .hero-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    width: 50%;
    position: absolute;
    left: 0;
    top: 17vw;
    color: white;
}
main .hero-section .hero-content a {
    border-radius: 15px;
    /* height: 70px; */
    color: black;
    background: #B7FCB1;
    /* stroke: 1px solid #9A2FBE; */
    box-shadow: 4px 4px #9A2FBE;
    display: flex;
    height: 5vw;
    padding: 0rem 3.6392rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375remrem;
    border: .082rem solid #9A2FBE;
    /* box-shadow: .3278rem .3278rem #000; */ 
    transition: .35s ease;
    /* mix-blend-mode: color-dodge; */
    background-size: cover;
    text-decoration: none;  
    position: absolute;
    top: 27.5vw;
    font-size: 2.1466vw;
}
main .hero-section .hero-content a:hover {
    box-shadow: none;
    background-color: #65fc57;
    transform: translate(2px, 2px);
}
main .about-us {
    position: relative;
    height: 104.5vw;
    padding: 0rem 9rem;
    margin: 0;
}
main h1:not(#first-h1) {
    font-size: 5vw;
    font-weight: 100;
    /* margin-left: 0; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
main .about-us h1 {
    top: -4%;
    text-shadow: 0.3rem 0.3rem #9A2FBE;
    color: white;
}
main .about-us .aboutus-background {
    translate: none;
    rotate: none;
    scale: none;
    opacity: 100;
    transform: translate(0px, 0px);
    position: absolute;
    left: 0;
    top: -10%;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    z-index: 0;
    height: auto;
}
main .about-us .aboutus-1,
main .about-us .aboutus-2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    left: 0;
    top: 0%;
    gap: 2vw;
}
main .about-us .aboutus-1 img,
main .about-us .aboutus-2 img {
    width: 40%;
}
main .about-us p {
    font-size: 1.25vw;
    padding-top: 2%;
    color: white;
}
main .about-us p span {
    font-weight: 900;
    font-style: italic;
}
main .about-us #aboutus-2 {
    top: -5%;
}
main .tokenomics {
    position: relative;
    height: 104.5rem;
    padding: 1rem 9rem;
    left: 0;
    margin-top: -49%;
}
main .tokenomics .tokenomics-background {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    position: absolute;
    right: 0;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    z-index: 0;
}
main .tokenomics h1 {
    /* top: -88rem; */
    top: 7%;
    text-shadow: 0.3rem 0.3rem #9A2FBE;
    color: white;
}
main .tokenomics .pie-chart {
    position: relative;
    padding: 1rem 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    top: 16%;
}
main .tokenomics .pie-chart img {
    width: 80%;
    min-width: 90%;
}
main .roadmap {
    position: relative;
    background-color: #B7FCB1;
    overflow: hidden;
    height: 55rem;
    left: 0;
    margin-top: -44%;
}
@media screen and (max-width: 1430px) {
    main .roadmap {
        margin-top: -60%;
    }
}
@media screen and (max-width: 1280px) {
    main .roadmap {
        margin-top: -75%;
    }
}
@media screen and (max-width: 1140px) {
    main .roadmap {
        margin-top: -90%;
    }
}
main .roadmap h1 {
    top: 4rem;
    text-shadow: 0.3rem 0.3rem black;
    color: #9A2FBE;
}
main .roadmap img {
    position: relative;
    margin: auto;
    right: 0;
    top: 2rem;
    width: 100%;
    height: 100%;
    scale: 1.1;
    pointer-events: none;
}
main .roadmap span {
    position: absolute;
    padding: 2rem;
    width: 100px;
    height: 100px;
    box-shadow: 4px 4px #000000;
    z-index: 10;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    transition: .35s ease;
    cursor: pointer;
    transition: .35s ease;
}
main .roadmap span img {
    position: absolute;
    scale: 0.8;
    transform: translate(0%, -15%);
}
main .roadmap .phase-1 {
    background-color: #9A2FBE;
    left: 13.5%;
    top:58%;
}
main .roadmap .phase-1:hover {
    /* scale: 0.95; */
    background-color: #c028f3;
    transform: translate(4px, 4px);
    box-shadow: none;
}
main .roadmap .phase-2 {
    background-color: #FB9805;
    left: 31%;
    top: 42%;
}
main .roadmap .phase-2:hover {
    /* scale: 0.95; */
    background-color: #fcb447;
    transform: translate(4px, 4px);
    box-shadow: none;
}
main .roadmap .phase-3 {
    background-color: #0000FF;
    left: 47.5%;
    top: 60%;
}
main .roadmap .phase-3:hover {
    /* scale: 0.95; */
    background-color: #3a3afb;
    transform: translate(4px, 4px);
    box-shadow: none;
}
main .roadmap .phase-4 {
    background-color: white;
    left: 64.3%;
    top: 40%;
}
main .roadmap .phase-4:hover {
    /* scale: 0.95; */
    background-color: rgb(240, 240, 240);
    transform: translate(4px, 4px);
    box-shadow: none;
}
main .roadmap .phase-5 {
    background-color: #35B4DE;
    left: 81%;
    top: 62%;
}
main .roadmap .phase-5:hover {
    /* scale: 0.95; */
    background-color: #0db6ee;
    transform: translate(4px, 4px);
    box-shadow: none;
}
@media screen and (max-width: 1490px) {
    main .roadmap span {
        transform: scale(0.8);
    }
    main .roadmap .phase-2 {
        left: 26%;
        top: 42%;
    }
    main .roadmap .phase-5 {
        left: 82%;
        top: 62%;
    }
}